:root {
    --blue: #043873;
    --blue-light: #4F9CF9;
    --biege: #FFE492;
    --white: #FFFFFF;
}

body {
    font-family: Inter;
}

.bg-blue {
    background-color: var(--blue);
}

.color-write {
    color: var(--white);
}

.color-biege {
    color: var(--biege);
}

.bg-btn-login {
    background-color: var(--biege);
    color: var(--blue);
}

.bg-btn-count {
    background-color: var(--blue-light);
    color: var(--white);
}

.bg-btn-price {
    background-color: var(--white);
}